<crv-options-panel>
  <label>
    <span>Plaintext</span>
    <textarea rows="10" [formControl]="plaintext"></textarea>
  </label>

  <label>
    <span>Key (codebook)</span>
    <textarea rows="20" [formControl]="codebook"></textarea>
  </label>
</crv-options-panel>

<div id="main-panel">
  <crv-array [data]="plaintext.value | split : ' '"
             (focus)="highlightedIndex = $event"
             [highlight]="highlightedIndex"
  ></crv-array>
  <crv-array [data]="ciphertext$ | async | split : ' '"
             (focus)="highlightedIndex = $event"
             [highlight]="highlightedIndex"
  ></crv-array>
</div>
