<crv-options-panel>
  <label>
    <span>Number of bits</span>
    <input type="number" min="1" max="4" [formControl]="numberOfBits">
  </label>
  <label>
    <span>Key (in binary)</span>
    <input type="text" [formControl]="binaryKey">
  </label>
  <label>
    <span>Display state</span>
    <input type="number" [formControl]="currentState" [attr.min]="0" [attr.max]="powerOfTwo(numberOfBits.value)">
  </label>
</crv-options-panel>

<div id="main-panel">

  <crv-rc4-ksa-single-state [state]="(states$ | async)[currentState.value]"></crv-rc4-ksa-single-state>

</div>
