$border: solid 1px rgba(black, .4);

:host {
  display: block;
  margin: 4em 0;
  cursor: default;
}

ul {
  list-style-type: none;
  display: flex;
  font-size: 2.5em;
  color: rgba(black, .7);
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  border-top: $border;
  border-left: $border;
  border-bottom: $border;

  &:last-child {
    border-right: $border;
  }

  &.highlight {
    font-weight: bold;
    color: rgba(black, .9);
    box-shadow: 0 0 0 3px rgba(black, .4) inset;
  }
}
